<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A178l</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOBluetoothUSBDFU</string>
	<key>CFBundleGetInfoString</key>
	<string>4.4.0, Copyright © 2002-2015 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOBluetoothUSBDFU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOBluetoothUSBDFU</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4.4.0f4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A176g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A283</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A176g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>2046DFU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33298</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>20702DFU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>61447</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>2070DFU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33305</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>K37A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33301</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>K37L</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33295</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>M93</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33296</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>M93A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33302</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X10</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33299</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X11</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33303</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X16</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33304</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X19B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33306</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X19C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33309</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X21</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33307</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X21B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33311</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X238</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33425</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X238D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33428</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X28</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33409</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X28B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33418</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X29B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33414</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X29C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33417</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X29D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33420</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X33</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33419</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X51</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33421</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X52</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33423</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>X87</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOBluetoothUSBDFU</string>
			<key>IOClass</key>
			<string>IOBluetoothUSBDFU</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>33424</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2015 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>4.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0</string>
	</dict>
</dict>
</plist>
