<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16A315</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelBDWGraphicsFramebuffer</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelBDWGraphicsFramebuffer 10.18.65</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>10.18.65</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>10.1.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8R174l</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A315</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8R174l</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelFBController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableAutomaticIPS</key>
				<integer>1</integer>
				<key>DisableFeatureIPS</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDEUnderrunPanic</key>
				<integer>0</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>1</integer>
				<key>FBCEnableOnBypass</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>HPDMetricEnable</key>
				<integer>0</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>LoadRingOverridePerSlice</key>
				<integer>1</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>0</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>UseGPUBusy</key>
				<integer>0</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>lp3waenable</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFBController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x0BD18086 0x0BD28086 0x0BD38086 0x16068086 0x160e8086 0x16168086 0x161e8086 0x16268086 0x16228086 0x16128086 0x162b8086</string>
			<key>IOProbeScore</key>
			<integer>80001</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>RCxControl</key>
			<dict>
				<key>RC1_Threshold</key>
				<integer>260</integer>
				<key>RC6p_Threshold</key>
				<integer>1300</integer>
				<key>RC_Eval_Interval</key>
				<integer>26000</integer>
			</dict>
		</dict>
		<key>FBClientController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
			<key>IOClass</key>
			<string>AppleMEClientController</string>
			<key>IOMatchCategory</key>
			<string>AppleMEClientController</string>
			<key>IOProviderClass</key>
			<string>AppleIntelFBController</string>
			<key>IOUserClientClass</key>
			<string>AppleSNBFBUserClient</string>
			<key>RetryCount</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1999-2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.AppleGraphicsDeviceControl</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
