<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>insanelyDeepak</string>
	<key>Description</key>
	<string>CrispyOSX </string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>FrameTime</key>
				<integer>0</integer>
				<key>Frames</key>
				<integer>0</integer>
				<key>ID</key>
				<integer>0</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string></string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0x00</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>apple_logo.png</string>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<false/>
			<key>Label</key>
			<true/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0xFFFFFF8F</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2016</string>
</dict>
</plist>
