<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A178l</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CSRHIDTransitionDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>4.4.0, Copyright © 2002-2015 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.CSRHIDTransitionDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CSR Bluetooth HID Transition Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4.4.0f4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7A176g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A283</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0700</string>
	<key>DTXcodeBuild</key>
	<string>7A176g</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CSRHIDTransitionAppleDFU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.CSRHIDTransitionDriver</string>
			<key>IOClass</key>
			<string>CSRHIDTransitionDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4096</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>CSRHIDTransitionCSRDFU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.CSRHIDTransitionDriver</string>
			<key>IOClass</key>
			<string>CSRHIDTransitionDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4096</integer>
			<key>idVendor</key>
			<integer>2578</integer>
		</dict>
		<key>CSRHIDTransitionCasiraTest</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.CSRHIDTransitionDriver</string>
			<key>IOClass</key>
			<string>CSRHIDTransitionDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>61441</integer>
			<key>idVendor</key>
			<integer>2578</integer>
		</dict>
		<key>CSRHIDTransitionForLisbon</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.CSRHIDTransitionDriver</string>
			<key>IOClass</key>
			<string>CSRHIDTransitionDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4118</integer>
			<key>idVendor</key>
			<integer>2578</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2015 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.usb.AppleUSBHostCompositeDevice</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
