<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mork vom Ork</string>
	<key>Description</key>
	<string>Classic Mac OS v1.1</string>
	<key>Theme</key>
	<dict>
		<key>Origination</key>
		<dict>
			<key>DesignWidth</key>
			<integer>1920</integer>
			<key>DesignHeight</key>
			<string>1080</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>155</integer>
			<key>ButtonOffset</key>
			<integer>67</integer>
			<key>MainEntriesSize</key>
			<integer>128</integer>
			<key>TextOffset</key>
			<integer>-3</integer>
			<key>TileXSpace</key>
			<integer>20</integer>
			<key>TileYSpace</key>
			<integer>20</integer>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>Path</key>
				<string>Loading_Extensions</string>
				<key>Frames</key>
				<integer>450</integer>
				<key>FrameTime</key>
				<integer>30</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>Once</key>
				<false/>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>27</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>3</integer>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
			</dict>
			<dict>
				<key>Path</key>
				<string>Volume_Spacebar_Animation</string>
				<key>Frames</key>
				<integer>170</integer>
				<key>FrameTime</key>
				<integer>10</integer>
				<key>ID</key>
				<integer>21</integer>
			</dict>
			<dict>
				<key>Path</key>
				<string>Volume_Spacebar_Animation</string>
				<key>Frames</key>
				<integer>170</integer>
				<key>FrameTime</key>
				<integer>10</integer>
				<key>ID</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>Path</key>
				<string>Volume_Spacebar_Animation</string>
				<key>Frames</key>
				<integer>170</integer>
				<key>FrameTime</key>
				<integer>10</integer>
				<key>ID</key>
				<integer>27</integer>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>classic_mac_os_bgrd.png</string>
			<key>Type</key>
			<string>Crop</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Scale</key>
			<integer>6</integer>
		</dict>
		<key>Banner</key>
		<string>mac_os_logo.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>12</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x9999FFF0</string>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
		<key>Scroll</key>
		<dict>
			<key>BarHeight</key>
			<integer>10</integer>
			<key>Height</key>
			<integer>16</integer>
			<key>ScrollHeight</key>
			<integer>7</integer>
			<key>Width</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>Year</key>
	<string>2016</string>
</dict>
</plist>
