<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5wbXNw
			RmlsZTwva2V5PgogICAgPGludGVnZXI+NzwvaW50ZWdlcj4KICAg
			IDxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJvZmlsZTwva2V5PgogICAg
			PGRpY3Q+CiAgICAgIDxrZXk+UHVibGlzaExpZ2h0c2hvdzwva2V5
			PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+TmV0d29ya1RpbWVy
			RGVsYXk8L2tleT4KICAgICAgPGludGVnZXI+OTAwPC9pbnRlZ2Vy
			PgogICAgICA8a2V5PlN0YW5kYnlEZWxheTwva2V5PgogICAgICA8
			aW50ZWdlcj4xMDgwMDwvaW50ZWdlcj4KICAgICAgPGtleT5FclBE
			ZWxheTwva2V5PgogICAgICA8aW50ZWdlcj4xNDQwMDwvaW50ZWdl
			cj4KICAgICAgPGtleT5BdXRvUG93ZXJPZmY8L2tleT4KICAgICAg
			PHRydWUvPgogICAgICA8a2V5PklPUGxhdGZvcm1TeXN0ZW1TbGVl
			cFBvbGljeTwva2V5PgogICAgICA8ZGF0YT5VMHhRVkFJQUhnQUFH
			aElBQUFBQUFBQVZBQUFBQlFBQUJnQUFBQUFBQUFBQUpRQUFBQUFB
			QUNBQUFBQWdBQUFBQUFBQUFBQUFBQUFGCkFBQUFBQUFBQUFBbEFB
			QUFBQUFBQUFBRUFBQUFCQUFBQUFBQUFBQUFBQVlBQUFBQUFBQUFB
			Q1VBQUFBQUFBQUFBQUVBQUFBQkFBQUEKQUFBQUFBQUFCQUFBQUFB
			QUFBQUFBUUFBQUFBQUFFQWFFZ0FBQUFBQUdCRUVBQmdCQkFBRkFB
			QUFBZ0FBQUFBdEFBQUlBQUFBUUJvUwpBQUFBQUFBWUVRQUFHQUVB
			QUFVQUFBQUNBQUFBQUMwQUFBQUFBQUJBQWhBQUFBQVFBQ0JBQUFB
			Z1FBQUFBZ0FBQUFnQUFBQUFLUUFBCkFBQUFBRUFDQUFBQUFBQUFH
			QUVFQUJnQkJBQUZBQUFBQUFBQUFBQWxBQUFJQUFBQVFBSUFBQUFB
			QUFBWUFBQUFHQUFBQUFVQUFBQUEKQUFBQUFDVUFBQUFBQUFCQUdo
			SUFBQUFBQUNnUkJBQWdBUVFBQlFBQUFBSUFBQUFBTFFBQUNBQUFB
			RUFhRWdBQUFBQUFLQkVBQUNBQgpBQUFGQUFBQUFnQUFBQUF0QUFB
			QUFBQUFRQUlBQUFBQUFBQW9BUVFBSUFFRUFBVUFBQUFBQUFBQUFD
			VUFBQWdBQUFCQUFnQUFBQUFBCkFDZ0FBQUFnQUFBQUJRQUFBQUFB
			QUFBQUpRQUFBQUFBQUZBYUVnQVFBQUFBQUJFRUFBQUJCQUFGQUFB
			QUFnQUFBQUF0QUFBSUFBQUEKVUJvU0FCQUFBQUFBRVFBQUFBRUFB
			QVVBQUFBQ0FBQUFBQzBBQUFBQUFBQlFBZ0FBRUFBQUFBQUJCQUFB
			QVFRQUJRQUFBQUFBQUFBQQpKUUFBQ0FBQUFGQUNBQUFRQUFBQUFB
			QUFBQUFBQUFBRkFBQUFBQUFBQUFBbEFBQUFBQUFBQUJvU0FBQUFB
			QUFBR1FBQUFBa0FBQVlBCkFBQUFBQUFBQUNVQUFBQUFBQUFBR2hJ
			QUFBRUFBQWdSQUFBSUFRQUFCZ0FBQUFBQUFBQUFKUUFBQUFBQUFB
			QWFFZ0FBQUFBQVFCRUEKQUVBQkFBQUdBQUFBQUFBQUFBQWxBQUFB
			QUFBQVFCb1NBRUFBQUFBR0VRQUFCZ0VBQUFNQUFBQUNBQUFBQUNr
			QUFBQUFBQUJBR2hJQQpRQUFBQUFBUkRBQUFBUXdBQWdBQUFBSUFB
			QUFBS1FBQUNBQUFBRUFhRWdCQUFBQUFBQkVBQUFBQkFBQUNBQUFB
			QWdBQUFBQXBBQUFBCkFBQUFRQUlBQUFBQUFBQUF3QUFBQU1BQUFB
			SUFBQUFJQUFBQUFDa0FBQUFBQUFCQUFnQUFBQUFBQUFpQUFBQUln
			QUFBQlFBQUFBQUEKQUFBQUpRQUFBQUFBQUVBQ0FBQUFBQUFBQUFF
			TUFBQUJEQUFDQUFBQUFRQUFBQUFwQUFBSUFBQUFRQUlBQUFBQUFB
			QUFBQUFBQUFBQQpBQUlBQUFBQkFBQUFBQ2tBQUFBQUFBQkFBQUFB
			UUFBQUFBWUFBQUFHQUFBQUF3QUFBQUFBQUFBQUlRQUFBQUFBQUFB
			QUFBQUFBQUFBCkFBRU1BQUFCREFBQ0FBQUFBQUFBQUFBaEFBQUlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUlBQUFBQUFBQUFBQ0VB
			QUFBQUFBQT08L2RhdGE+CiAgICAgIDxrZXk+U3RlcENvbnRleHRE
			aWN0PC9rZXk+CiAgICAgIDxkaWN0PgogICAgICAgIDxrZXk+Tm9y
			bWFsPC9rZXk+CiAgICAgICAgPGRhdGE+CkVBb0FBQUFBQVFJRUFB
			QUNBZ0FBYmdCdkFISUFiUUExQUcwQWN3d0FBQUVDQUFmL0J3QUFQ
			QUFBQUIwRUFBQUNBSUVBY0FCekFIUUEKWVFCMEFHVUFjd29BQUFZ
			REFBQ0FBRzBBYVFCdUFIQUFjd0IwQUdFQWRBQmxEUUFBZ0FCdEFH
			NEFkQUJ3QUhNQWRBQmhBSFFBWlEwQQpBSUFBYmdCd0FITUFkQUJo
			QUhRQVpRQnovd0QvQVA4QS93RC9BTElBQVA4QkFBUC9BQXNQQUFE
			L0FRQUQvd0FMRHdBQS93RUFBLzhBCkN3OEFBUDhCQUFQL0FBc1BB
			QUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQ
			QUFEL0FRQUQvd0FMRHdBQS93RUEKQS84QUN3OEFBUDhCQUFQL0FB
			c1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9B
			QXNQQUFEL0FRQUQvd0FMRHdBQQovd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFB
			UC9BQXNQQUFEL0FRQUQvd0FMCkR3QUEvd0VBQS84QUN3OEFBUDhC
			QUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4
			QkFBUC9BQXNQQUFEL0FRQUQKL3dBTER3QUEvd0VBQS84QUN3OEFB
			UDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhB
			QVA4QkFBUC9BQXNQQUFELwpBUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFD
			dzhBQVA4QkFBUC9BQXNQCkFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEv
			OEFDdzhBQVA4QkFBUC8KQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VB
			QS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dF
			QUEvOEFDdzhBQVA4QgpBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEv
			d0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FB
			L3dFQUEvOEFDdzhBCkFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3
			QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEEKQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc0tBQUFCQ2dBQVpB
			QUFBQVVJQUFBQgpBQUFGL3dBQkFBQUFBUUFBQUFFR0FBQmxBQUFB
			RGdnQUFBSUFBQVgvQUFFQUFBQUNBQUFBQWdZQUFHUUFBQUFGQUFB
			QUFnWUFBQU1BCkFBWC9BQUVBQUFBREFBQUFBd1lBQUdRQUFBQURB
			QUFBQWdZQUFBUUFBQVgvQUFFQUFBQUVBQUFBQkFZQUFHa0tBQUFG
			QUFBRi93QUIKQUFBQUJRQUFBQVVHQUFCbEFBQUFEZ1FBQUFFQ0FB
			QUdBQUFGL3dBQkFBQUFCZ0FBQUFZR0FBQmtBQUFBQXdBQUFBSUdB
			QUFIQUFBRgovd0FCQUFBQUJ3QUFBQWNHQUFCbEFBQUFEZ1FBQUFJ
			Q0FBQUlBQUFGL3dBQkFBQUFDQUFBQUFnR0FBQmtBQUFBQlFBQUFB
			UUdBQUFKCkFBQUYvd0FCQUFBQUNRQUFBQWtHQUFCa0FBQUFBd0FB
			QUFJR0FBQUtBQUFGL3dBQkFBQUFDZ0FBQUFvR0FBQmtBQUFBQXdB
			QUFBTUcKQUFBTEFBQUYvd0FCQUFBQUN3QUFBQXNHQUFCbkNnQUFE
			QUFBQmY4QUFRQUFBQXdBQUFBTUJnQUFhUW9BQUEwQUFBWC9BQUVB
			QUFBTgpBQUFBRFFZQUFHUUFBQUFEQUFBQUFnWUFBQTRBQUFYL0FB
			RUFBQUFPQUFBQURnWUFBR1lLQUFBUEFBQUYvd0FCQUFBQUR3QUFB
			QThHCkFBQmxBQUFBRGdRQUFBTUNBQUFRQUFBRi93QUJBQUFBRUFB
			QUFCQUdBQUJrQUFBQUJRQUFBQUlHQUFBUkFBQUYvd0FCQUFBQUVR
			QUEKQUJFR0FBQmtBQUFBQXdBQUFBSUdBQUFTQUFBRi93QUJBQUFB
			RWdBQUFCSUdBQUJrQUFBQUF3QUFBQU1HQUFBVEFBQUYvd0FCQUFB
			QQpFd0FBQUJNR0FBQm5DZ0FBRkFBQUJmOEFBUUFBQUJRQUFBQVVC
			Z0FBYVFvQUFCVUFBQVgvQUFFQUFBQVZBQUFBRlFZQUFHUUFBQUFE
			CkFBQUFBZ1lBQUJZQUFBWC9BQUVBQUFBV0FBQUFGZ1lBQUdZS0FB
			QVhBQUFGL3dBQkFBQUFGd0FBQUJjR0FBQmxBQUFBRGdRQUFBUUMK
			QUFBWUFBQUYvd0FCQUFBQUdBQUFBQmdHQUFCa0FBQUFBd0FBQUFF
			R0FBQVpBQUFGL3dBQkFBQUFHUUFBQUJrR0FBQmxBQUFBRGdRQQpB
			QVVDQUFBYUFBQUYvd0FCQUFBQUdnQUFBQm9HQUFBUEFDY0pBQUFi
			QUFBRi93QUNBZ0FBR3dZQUFBRUFBQUFPQkFBQUJRSUFBQndBCkFB
			WC9BQUlBQUFBQkFBQUFIQVlBQUFJQUFBQUVBUUFBZ0FEREFMY0FM
			Z0EwQUFzQUFBQWRBQUFBSEFBQUFCd0FBQUFkQUFBQUF3SUEKQUIw
			R0FBQUJBQUFBRGdRQUFBVUNBQUFlQUFBRi93QUVBZ0FBSGdZQUFB
			a0FBQUFFQUFBQXlBWUFBQjhBQUFYL0FBUUFBQUFCQUFBQQpId1FB
			QUlBQUFBQUtDZ0FBSXdBQUFDQUFBQUFqQUFBQUlBQUFBQVFBQUFB
			Q0FBQUFJQVlBQUFjQUFBQUJBQUFBOVFBQkJRQUFJUUFBCkJmOEFC
			QUFBQUFNQUFBQWhCZ0FBQWdBQUFBUUFBQUNnQUE4RkFBQWlBQUFB
			R3dBQUFCc0FBQUFpQUFBQUJBQUFBQVFBQUFBaUJnQUEKQ0FvQUFC
			NEFBQVgvQUFVQ0FBQWpCZ0FBQVFBQUFBNEVBQUFFQWdBQUpBQUFC
			ZjhBQmdJQUFDUUdBQUFDQUFBQUJBQUFBSmdBQ0FVQQpBQ2dBQUFB
			bEFBQUFLQUFBQUNVQUFBQUdBQUFBQVFBQUFDVUdBQUFIQUFBQUFR
			QUFBUFVBQVFVQUFDWUFBQVgvQUFZQUFBQUNBQUFBCkpnWUFBQUlB
			QUFBRUFBQUFvQUFQQlFBQUp3QUFBQnNBQUFBYkFBQUFKd0FBQUFZ
			QUFBQURBQUFBSndZQUFBZ0tBQUFrQUFBRi93QUgKQWdBQUtBWUFB
			QUVBQUFBT0JBQUFBd0lBQUNrQUFBWC9BQWdDQUFBcEJnQUFBZ0FB
			QUFRQUFBRDJBQWtGQUFBdEFBQUFLZ0FBQUMwQQpBQUFxQUFBQUNB
			QUFBQUVBQUFBcUJnQUFCd0FBQUFFQUFBRDFBQUVGQUFBckFBQUYv
			d0FJQUFBQUFnQUFBQ3NHQUFBQ0FBQUFCQUFBCkFLQUFEd1VBQUN3
			QUFBQWJBQUFBR3dBQUFDd0FBQUFJQUFBQUF3QUFBQ3dHQUFBSUNn
			QUFLUUFBQmY4QUNRSUFBQzBHQUFBQkFBQUEKRGdRQUFBSUNBQUF1
			QUFBRi93QUtBZ0FBTGdZQUFBSUFBQUFFQUFBQTZnQUxCUUFBTWdB
			QUFDOEFBQUF5QUFBQUx3QUFBQW9BQUFBQgpBQUFBTHdZQUFBY0FB
			QUFCQUFBQTlRQUJCUUFBTUFBQUJmOEFDZ0FBQUFJQUFBQXdCZ0FB
			QWdBQUFBUUFBQUNnQUE4RkFBQXhBQUFBCkd3QUFBQnNBQUFBeEFB
			QUFDZ0FBQUFNQUFBQXhCZ0FBQ0FvQUFDNEFBQVgvQUFzQ0FBQXlC
			Z0FBQVFBQUFBNEVBQUFCQWdBQU13QUEKQmY4QURBSUFBRE1HQUFB
			Q0FBQUFCQUFBQU5RQUZ3VUFBRGNBQUFBMEFBQUFOd0FBQURRQUFB
			QU1BQUFBQVFBQUFEUUdBQUFIQUFBQQpBUUFBQVBVQUFRVUFBRFVB
			QUFYL0FBd0FBQUFDQUFBQU5RWUFBQUlBQUFBRUFBQUFvQUFQQlFB
			QU5nQUFBQnNBQUFBYkFBQUFOZ0FBCkFBd0FBQUFEQUFBQU5nWUFB
			QWdLQUFBekFBQUYvd0FOQWdBQU53WUFBQUVBQUFBT0NBQUFPQUFB
			QmY4QURnSUFBRGdHQUFBQ0FBQUEKQkFFQUFJQUF3d0MzQUM0QU5B
			QUxBQUFBT0FBQUFEa0FBQUE0QUFBQU9RQUFBQTRBQUFBQkFBQUFP
			UVlBQUFjQUFBQUJBQUFBOVFBQgpCUUFBT2dBQUJmOEFEZ0FBQUFJ
			QUFBQTZCZ0FBQWdBQUFBUUFBQUNnQUE4RkFBQTdBQUFBR3dBQUFC
			c0FBQUE3QUFBQURnQUFBQU1BCkFBQTdCZ0FBQ0FvQUFEZ0FBQVgv
			CjwvZGF0YT4KICAgICAgICA8a2V5PkJhY2tncm91bmQ8L2tleT4K
			ICAgICAgICA8ZGF0YT4KNGdVQUFBQUFBUUlFQUFBQkFnQUFZZ0Jy
			QUdjQWNnQnVBR1FBY0FCbEFXWUFZd0JwQUdVQWJnQjBCQUFBQWdJ
			QUIvOEhBQUFZQUFBQQpEUVFBQUFJQWdRQmlBR2NBY0FCekFIUUFZ
			UUIwQUdVQWN3Z0FBQUlEQUFDQUFHMEFhUUJ1QUhBQWN3QjBBR0VB
			ZEFCbERRQUFnQUJ0CkFHNEFkQUJ3QUhNQWRBQmhBSFFBWlEwQUFJ
			QUFiZ0J3QUhNQWRBQmhBSFFBWlFCei93RC9BUDhBL3dEL0FMSUFB
			UDhCQUFQL0FBc1AKQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEFBUDhCQUFQLwpBQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEFBUDhCCkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VB
			QS84QUN3OEEKQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93
			RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEv
			d0VBQS84QQpDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdB
			QS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3
			QUEvd0VBCkEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEKL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQv
			d0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFE
			L3dBTApEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FR
			QUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9B
			UUFECi93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFE
			L0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC8KQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQ
			QUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFz
			UApBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9B
			QXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			CkFBc0tBQUFCQ2dBQVpBQUFBQVVBQUFBQ0JnQUFBUUFBQmY4QUFR
			QUFBQUVBQUFBQkJnQUFaQUFBQUFNQUFBQUNCZ0FBQWdBQUJmOEEK
			QVFBQUFBSUFBQUFDQmdBQVpBQUFBQU1BQUFBREJnQUFBd0FBQmY4
			QUFRQUFBQU1BQUFBREJnQUFad29BQUFRQUFBWC9BQUVBQUFBRQpB
			QUFBQkFZQUFHa0tBQUFGQUFBRi93QUJBQUFBQlFBQUFBVUdBQUJr
			QUFBQUF3QUFBQUlHQUFBR0FBQUYvd0FCQUFBQUJnQUFBQVlHCkFB
			Qm1DZ0FBQndBQUJmOEFBUUFBQUFjQUFBQUhCZ0FBWlFBQUFBNElB
			QUFJQUFBRi93QUJBQUFBQ0FBQUFBZ0dBQUJrQUFBQUF3QUEKQUFF
			R0FBQUpBQUFGL3dBQkFBQUFDUUFBQUFrR0FBQmxBQUFBRGdRQUFB
			RUNBQUFLQUFBRi93QUJBQUFBQ2dBQUFBb0dBQUFQQUNjSgpBQUFM
			QUFBRi93QUNBZ0FBQ3dZQUFBRUFBQUFPQkFBQUFRSUFBQXdBQUFY
			L0FBSUFBQUFCQUFBQURBWUFBQUlBQUFBRUFRQUFnQURECkFMY0FM
			Z0EwQUFzQUFBQU5BQUFBREFBQUFBd0FBQUFOQUFBQUF3SUFBQTBH
			QUFBQkFBQUFEZ1FBQUFFQ0FBQU9BQUFGL3dBRUFnQUEKRGdZQUFB
			a0FBQUFFQUFBQXlBWUFBQThBQUFYL0FBUUFBQUFCQUFBQUR3UUFB
			SUFBQUFBS0NnQUFFd0FBQUJBQUFBQVRBQUFBRUFBQQpBQVFBQUFB
			Q0FBQUFFQVlBQUFjQUFBQUJBQUFBOVFBQkJRQUFFUUFBQmY4QUJB
			QUFBQU1BQUFBUkJnQUFBZ0FBQUFRQUFBRElCZ0FBCkVnQUFBQXNB
			QUFBTEFBQUFFZ0FBQUFRQUFBQUVBQUFBRWdZQUFBZ0tBQUFPQUFB
			Ri93QUZBZ0FBRXdZQUFBRUFBQUFPQ0FBQUZBQUEKQmY4QUJnSUFB
			QlFHQUFBQ0FBQUFCQUVBQUlBQXd3QzNBQzRBTkFBTEFBQUFGQUFB
			QUJVQUFBQVVBQUFBRlFBQUFBWUFBQUFCQUFBQQpGUVlBQUFjQUFB
			QUJBQUFBOVFBQkJRQUFGZ0FBQmY4QUJnQUFBQUlBQUFBV0JnQUFB
			Z0FBQUFRQUFBRElCZ0FBRndBQUFBc0FBQUFMCkFBQUFGd0FBQUFZ
			QUFBQURBQUFBRndZQUFBZ0tBQUFVQUFBRi93PT0KPC9kYXRhPgog
			ICAgICAgIDxrZXk+UmVhbFRpbWU8L2tleT4KICAgICAgICA8ZGF0
			YT4KcWdZQUFBQUFBUUlFQUFBREFnQUFjZ0IwQURNQWN3QjBBR0VB
			ZEFCbER3QVAvd0FmQUFBQUR3UUFBQUlBZ1FCeUFIUUFjQUJ6QUhR
			QQpZUUIwQUdVQWN3Z0FBQU1EQUFDQUFHMEFhUUJ1QUhBQWN3QjBB
			R0VBZEFCbERRQUFnQUJ0QUc0QWRBQndBSE1BZEFCaEFIUUFaUTBB
			CkFJQUFiZ0J3QUhNQWRBQmhBSFFBWlFCei93RC9BUDhBL3dEL0FM
			SUFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEEK
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQQpB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VB
			QS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBCi93
			RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEv
			d0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUwKRHdB
			QS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3
			QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRAovd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvCkFRQUQv
			d0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFE
			L3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1AKQUFEL0FR
			QUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9B
			UUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQLwpBQXNQQUFE
			L0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCCkFBUC9BQXNQ
			QUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFz
			UEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEEKQVA4QkFBUC9B
			QXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QQpDdzhBQVA4QkFB
			UC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJB
			QVAvQUFzS0FBQUJDZ0FBWkFBQUFBTUFBQUFDCkJnQUFBUUFBQmY4
			QUFRQUFBQUVBQUFBQkJnQUFaUUFBQUE0SUFBQUNBQUFGL3dBQkFB
			QUFBZ0FBQUFJR0FBQmtBQUFBQlFBQUFBSUcKQUFBREFBQUYvd0FC
			QUFBQUF3QUFBQU1HQUFCa0FBQUFBd0FBQUFJR0FBQUVBQUFGL3dB
			QkFBQUFCQUFBQUFRR0FBQmtBQUFBQXdBQQpBQU1HQUFBRkFBQUYv
			d0FCQUFBQUJRQUFBQVVHQUFCbkNnQUFCZ0FBQmY4QUFRQUFBQVlB
			QUFBR0JnQUFhUW9BQUFjQUFBWC9BQUVBCkFBQUhBQUFBQndZQUFH
			UUFBQUFEQUFBQUFnWUFBQWdBQUFYL0FBRUFBQUFJQUFBQUNBWUFB
			R1lLQUFBSkFBQUYvd0FCQUFBQUNRQUEKQUFrR0FBQmxBQUFBRGdR
			QUFBRUNBQUFLQUFBRi93QUJBQUFBQ2dBQUFBb0dBQUJrQUFBQUF3
			QUFBQUVHQUFBTEFBQUYvd0FCQUFBQQpDd0FBQUFzR0FBQmxBQUFB
			RGdRQUFBSUNBQUFNQUFBRi93QUJBQUFBREFBQUFBd0dBQUFQQUNj
			SkFBQU5BQUFGL3dBQ0FnQUFEUVlBCkFBRUFBQUFPQkFBQUFnSUFB
			QTRBQUFYL0FBSUFBQUFCQUFBQURnWUFBQUlBQUFBRUFRQUFnQURE
			QUxjQUxnQTBBQXNBQUFBUEFBQUEKRGdBQUFBNEFBQUFQQUFBQUF3
			SUFBQThHQUFBQkFBQUFEZ1FBQUFJQ0FBQVFBQUFGL3dBRUFnQUFF
			QVlBQUFrQUFBQUVBQUFBeUFZQQpBQkVBQUFYL0FBUUFBQUFCQUFB
			QUVRUUFBSUFBQUFBS0NnQUFGUUFBQUJJQUFBQVZBQUFBRWdBQUFB
			UUFBQUFDQUFBQUVnWUFBQWNBCkFBQUJBQUFBOVFBQkJRQUFFd0FB
			QmY4QUJBQUFBQU1BQUFBVEJnQUFBZ0FBQUFRQUFBRElCZ0FBRkFB
			QUFBMEFBQUFOQUFBQUZBQUEKQUFRQUFBQUVBQUFBRkFZQUFBZ0tB
			QUFRQUFBRi93QUZBZ0FBRlFZQUFBRUFBQUFPQkFBQUFRSUFBQllB
			QUFYL0FBWUNBQUFXQmdBQQpBZ0FBQUFRQUFBQ1FBQUVGQUFBYUFB
			QUFGd0FBQUJvQUFBQVhBQUFBQmdBQUFBRUFBQUFYQmdBQUJ3QUFB
			QUVBQUFEMUFBRUZBQUFZCkFBQUYvd0FHQUFBQUFnQUFBQmdHQUFB
			Q0FBQUFCQUFBQU1nR0FBQVpBQUFBRFFBQUFBMEFBQUFaQUFBQUJn
			QUFBQU1BQUFBWkJnQUEKQ0FvQUFCWUFBQVgvQUFjQ0FBQWFCZ0FB
			QVFBQUFBNElBQUFiQUFBRi93QUlBZ0FBR3dZQUFBSUFBQUFFQVFB
			QWdBRERBTGNBTGdBMApBQXNBQUFBYkFBQUFIQUFBQUJzQUFBQWNB
			QUFBQ0FBQUFBRUFBQUFjQmdBQUJ3QUFBQUVBQUFEMUFBRUZBQUFk
			QUFBRi93QUlBQUFBCkFnQUFBQjBHQUFBQ0FBQUFCQUFBQU1nR0FB
			QWVBQUFBRFFBQUFBMEFBQUFlQUFBQUNBQUFBQU1BQUFBZUJnQUFD
			QW9BQUJzQUFBWC8KPC9kYXRhPgogICAgICA8L2RpY3Q+CiAgICAg
			IDxrZXk+VW5pZmllZFNsZWVwU2xpZGVyUHJlZjwva2V5PgogICAg
			ICA8dHJ1ZS8+CiAgICAgIDxrZXk+RGFya1dha2VTZXJ2aWNlczwv
			a2V5PgogICAgICA8ZGljdD4KICAgICAgICA8a2V5PkRhcmtXYWtl
			QmFja2dyb3VuZFRhc2tzPC9rZXk+CiAgICAgICAgPGludGVnZXI+
			MTwvaW50ZWdlcj4KICAgICAgICA8a2V5PlNsZWVwU2VydmljZXM8
			L2tleT4KICAgICAgICA8aW50ZWdlcj43PC9pbnRlZ2VyPgogICAg
			ICAgIDxrZXk+U2xlZXBTZXJ2aWNlc01vZGVzPC9rZXk+CiAgICAg
			ICAgPGRpY3Q+CiAgICAgICAgICA8a2V5Pk1vZGVBPC9rZXk+CiAg
			ICAgICAgICA8ZGljdD4KICAgICAgICAgICAgPGtleT5FeHBpcmF0
			aW9uPC9rZXk+CiAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVn
			ZXI+CiAgICAgICAgICAgIDxrZXk+QmF0dGVyeUZsb29yPC9rZXk+
			CiAgICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAgICAg
			ICAgICAgIDxrZXk+QmFzZUludGVydmFsczwva2V5PgogICAgICAg
			ICAgICA8ZGljdD4KICAgICAgICAgICAgICA8a2V5PkFDPC9rZXk+
			CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8
			a2V5PkJhc2VTbGVlcEludGVydmFsPC9rZXk+CiAgICAgICAgICAg
			ICAgICA8aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgogICAgICAgICAg
			ICAgICAgPGtleT5CYXNlV2FrZUNhcEludGVydmFsPC9rZXk+CiAg
			ICAgICAgICAgICAgICA8aW50ZWdlcj44NjQwMDwvaW50ZWdlcj4K
			ICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGtl
			eT5CYXR0ZXJ5PC9rZXk+CiAgICAgICAgICAgICAgPGRpY3Q+CiAg
			ICAgICAgICAgICAgICA8a2V5PkJhc2VTbGVlcEludGVydmFsPC9r
			ZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4zNjAwPC9pbnRl
			Z2VyPgogICAgICAgICAgICAgICAgPGtleT5CYXNlV2FrZUNhcElu
			dGVydmFsPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4x
			ODA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAg
			ICAgICAgICA8L2RpY3Q+CiAgICAgICAgICA8L2RpY3Q+CiAgICAg
			ICAgPC9kaWN0PgogICAgICA8L2RpY3Q+CiAgICA8L2RpY3Q+CiAg
			PC9kaWN0Pgo8L3BsaXN0Pgo=
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Vanilla. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
