<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FakeSMC</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.driver.FakeSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakeSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.14-291-g6b4497f.1655</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1655</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0631</string>
	<key>DTXcodeBuild</key>
	<string>6D1002</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>CodecID </key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>ASccMAEnHQEBJx6mAScfkAFHHBABRx0BAUceFwFHH5ABVxwQAVcdIAFXHiEBVx8BAYccIAGHHSABhx6hAYcfAQFHDAI=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>86</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>ConfigData</key>
					<data>AiccQAInHQACJx7GAicf0A==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>121</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>AYccQAGHHXABhx4hAYcfAQGnHDABpx0BAaceEwGnH5ABlxwQAZcdMQGXHoEBlx8BAVccUAFXHUEBVx4BAVcfAQH3HCAB9x3hAfcexQH3HwEB5xxgAecd4QHnHkUB5x8BAUcc8AFHHQABRx4AAUcfQAFnHPABZx0AAWceAAFnH0ABdxzwAXcdAAF3HgABdx9AAbcc8AG3HQABtx4AAbcfQAHHHPABxx0AAcceAAHHH0AB1xzwAdcdAAHXHgAB1x9A</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>2206496384</integer>
					<key>ConfigData</key>
					<data>ALccQAC3HXAAtx4hALcfAQDHHDAAxx0BAMceEwDHH5AA9xwQAPcdMAD3HoEA9x8BAKccUACnHUAApx4BAKcfAQEXHCABFx3gARcexQEXHwEBBxxgAQcd4AEHHkUBBx8BANccDwDXHQAA1x4AANcfQADnHA8A5x0AAOceAADnH0ABVxwPAVcdAAFXHgABVx9AAbccDwG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>ABcgAAAXIQAAFyJrABcjEACXHFAAlx1wAJceIQCXHwEApxxBAKcdYQCnHhAApx+QALccQAC3HWEAtx4QALcfkADHHCAAxx0BAMcegQDHH5EA1xwQANcdAQDXHqAA1x+QAOcc8ADnHQAA5x4AAOcfQAD3HDAA9x0BAPcexQD3HwEBBxxgAQcdAQEHHkUBBx8BAScc8AEnHQABJx4AAScfQAFXHPABVx0AAVceAAFXH0A=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJcewACXH9A=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>90</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJcewACXH9A=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>92</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>ConfigData</key>
					<data>ABcgAAAXIQAAFyIAABcjAAEXHFABFx1AARceKwEXHwEBJxxAAScdAQEnHhABJx+QATccQQE3HQEBNx4QATcfkADXHBAA1x0BANceoADXH5AAxxwgAMcdMADHHosAxx8BAPccYAD3HeAA9x5LAPcfAQEHHDABBx3gAQceywEHHwEA5xzwAOcdAADnHgAA5x9AAWcc8AFnHQABZx4AAWcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALceoAC3H5AAxxxAAMcdAQDHHhAAxx+QANcc8ADXHQAA1x4AANcfQADnHPAA5x0AAOceAADnH0AA9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5LAQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcdAAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALceoAC3H5AAxxxAAMcdAQDHHhAAxx+QANccQQDXHQEA1x4QANcfkADnHPAA5x0AAOceAADnH0AA9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5LAQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcdAAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJcewACXH9A=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJcewACXH9A=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>APccQAD3HQAA9x7GAPcf0ACXHFAAlx0AAJcewACXH9A=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>122</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>AKccQACnHUAApx4rAKcfAQC3HPAAtx0AALceAAC3H0AAxxwwAMcdAQDHHhAAxx+QANcc8ADXHQAA1x4AANcfQADnHPAA5x0AAOceAADnH0AA9xwQAPcdMAD3HosA9x8BAQccUAEHHeABBx5LAQcfAQEXHCABFx3gARceywEXHwEBVxzwAVcdAAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALceoAC3H5AAxxxAAMcdAQDHHhAAxx+QANccQQDXHQEA1x4QANcfkADnHPAA5x0AAOceAADnH0AA9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5LAQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcdAAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>AZcdMAH3HeE=</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALceoAC3H5AAxxxAAMcdAQDHHhAAxx+QANcc8ADXHQAA1x4AANcfQADnHPAA5x0AAOceAADnH0AA9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5LAQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcdAAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>-2088470912</integer>
					<key>ConfigData</key>
					<data>AKccUACnHUAApx4rAKcfAQC3HBAAtx0BALceoAC3H5AAxxxAAMcdAQDHHhAAxx+QANcc8ADXHQAA1x4AANcfQADnHPAA5x0AAOceAADnH0AA9xwgAPcdMAD3HosA9x8BAQccYAEHHeABBx5LAQcfAQEXHDABFx3gARceywEXHwEBVxzwAVcdAAFXHgABVx9AAbcc8AG3HQABtx4AAbcfQA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>ConfigData</key>
					<data>AUcc8AFHHQABRx4AAUcfQAFXHDABVx1AAVceAAFXHwEBZxzwAWcdAAFnHgABZx9AAXcc8AF3HQABdx4AAXcfQAGHHBABhx1AAYceIAGHHwEBlxwgAZcdMAGXHoABlx8BAaccUAGnHQEBpx4QAacfkAG3HPABtx0AAbceAAG3H0ABxxzwAccdAAHHHgABxx9AAdcc8AHXHQAB1x4AAdcfQAHnHHAB5x3gAeceRQHnHwEB9xxgAfcd4AH3HsUB9x8B</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>63</integer>
					<key>MikeyAFGLowPowerState</key>
					<data>AQAAAA==</data>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>64</integer>
					<key>MikeyAFGLowPowerState</key>
					<data>AQAAAA==</data>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>ConfigData</key>
					<data>AMcdMA==</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16392</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
			<key>PostConstructionInitialization</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>36</integer>
							<key>PinConfigDefault</key>
							<integer>2834464</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>37</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>38</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>40</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>41</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>42</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>43</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>44</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>45</integer>
							<key>PinConfigDefault</key>
							<integer>2416967954</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>46</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>47</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>48</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>49</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>50</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>51</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>52</integer>
							<key>PinConfigDefault</key>
							<integer>11243568</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>53</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>54</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>55</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>56</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>57</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>58</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>59</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>60</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>61</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>62</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>63</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>64</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>65</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>66</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>67</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>68</integer>
							<key>PinConfigDefault</key>
							<integer>2426798336</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>69</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>16</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>17</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>720928</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>20</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>21</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>25</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>26</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>27</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>28</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>30</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>31</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>32</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>33</integer>
							<key>PinConfigDefault</key>
							<integer>21299248</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>114</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>108</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>9121792</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>120</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2417426704</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Layouts</key>
					<array>
						<integer>36</integer>
						<integer>38</integer>
						<integer>52</integer>
						<integer>53</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicAttributes</key>
							<integer>28</integer>
							<key>MicInfo</key>
							<string>Sampled on rising edge</string>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>2426405136</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>71</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>2416968002</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>83</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416968001</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>90</integer>
						<integer>92</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>122</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>Layouts</key>
					<array>
						<integer>67</integer>
						<integer>73</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicInfo</key>
							<string>WM8800 External Microphone Virtual Pin Complex</string>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>28020848</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>FakeSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>Configuration</key>
			<dict>
				<key>Clover</key>
				<dict>
					<key>BEMB</key>
					<array>
						<string>BEMB</string>
						<string>flag</string>
					</array>
					<key>EPCI</key>
					<array>
						<string>EPCI</string>
						<string>ui32</string>
					</array>
					<key>RBr</key>
					<array>
						<string>RBr</string>
						<string>ch8*</string>
					</array>
					<key>REV</key>
					<array>
						<string>REV</string>
						<string>{rev</string>
					</array>
					<key>RPlt</key>
					<array>
						<string>RPlt</string>
						<string>ch8*</string>
					</array>
				</dict>
				<key>ExceptionKeys</key>
				<dict>
					<key>CLKH</key>
					<integer>1</integer>
					<key>CLKT</key>
					<integer>1</integer>
					<key>MSDW</key>
					<integer>1</integer>
					<key>NATJ</key>
					<integer>1</integer>
					<key>NATi</key>
					<integer>1</integer>
					<key>NTOK</key>
					<integer>1</integer>
					<key>WKTP</key>
					<integer>0</integer>
				</dict>
				<key>Keys</key>
				<dict>
					<key>$Adr</key>
					<array>
						<string>ui32</string>
						<data>AAADAA==</data>
					</array>
					<key>$Num</key>
					<array>
						<string>ui8</string>
						<data>AQ==</data>
					</array>
					<key>ACID</key>
					<array>
						<string>ch8*</string>
						<data>hfwETdgSevQ=</data>
					</array>
					<key>FNum</key>
					<array>
						<string>ui8</string>
						<data>AA==</data>
					</array>
					<key>LsNM</key>
					<array>
						<string>ui8</string>
						<data>AQ==</data>
					</array>
					<key>LsbV</key>
					<array>
						<string>{rev</string>
						<data>AQQKAAY=</data>
					</array>
					<key>MSSD</key>
					<array>
						<string>si8</string>
						<data>BQ==</data>
					</array>
					<key>MSSP</key>
					<array>
						<string>si8</string>
						<data>BQ==</data>
					</array>
					<key>NATJ</key>
					<array>
						<string>ui8</string>
						<data>AA==</data>
					</array>
					<key>OSK0</key>
					<array>
						<string>ch8*</string>
						<data>b3VyaGFyZHdvcmtieXRoZXNld29yZHNndWFyZGVkcGw=</data>
					</array>
					<key>OSK1</key>
					<array>
						<string>ch8*</string>
						<data>ZWFzZWRvbnRzdGVhbChjKUFwcGxlQ29tcHV0ZXJJbmM=</data>
					</array>
					<key>REV </key>
					<array>
						<string>{rev</string>
						<data>ATAPAAAD</data>
					</array>
					<key>RVBF</key>
					<array>
						<string>{rev</string>
						<data>ATAPAAAD</data>
					</array>
					<key>RVUF</key>
					<array>
						<string>{rev</string>
						<data>ATAPAAAD</data>
					</array>
				</dict>
				<key>Types</key>
				<dict>
					<key>BEMB</key>
					<string>flag</string>
					<key>CLKC</key>
					<string>{clc</string>
					<key>CLKH</key>
					<string>{clh</string>
					<key>CLKT</key>
					<string>ui32</string>
					<key>CLWK</key>
					<string>ui32</string>
					<key>EPCI</key>
					<string>flag</string>
					<key>LSSS</key>
					<string>{lso</string>
					<key>MSDS</key>
					<string>ui8</string>
					<key>MSDW</key>
					<string>flag</string>
					<key>MSPS</key>
					<string>{msp</string>
					<key>RPlt</key>
					<string>ch8*</string>
				</dict>
				<key>debug</key>
				<false/>
				<key>smc-compatible</key>
				<string>smc-napa</string>
				<key>trace</key>
				<false/>
			</dict>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>FakeSMC</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>RM,Build</key>
			<string>Release-RehabMan</string>
			<key>RM,Version</key>
			<string>FakeSMC 1655</string>
		</dict>
		<key>FakeSMCKeyStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>IOClass</key>
			<string>FakeSMCKeyStore</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCKeyStore</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>FakeSMCKeyStoreUserClient</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 netkas. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1212</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>&quot;https://github.com/RehabMan/OS-X-FakeSMC-kozlek.git&quot;</string>
</dict>
</plist>
