<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>mcluyu</string>
	<key>Description</key>
	<string>BTC for 1920X1080     http://i.pcbeta.com/space-uid-4577852.html</string>
	<key>Year</key>
	<string>2015/12</string>
	<key>Version</key>
	<string>1.1</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0xff</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<false/>
			<key>Label</key>
			<false/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<false/>
			<key>Tools</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>Path</key>
			<string>font.png</string>
			<key>CharWidth</key>
			<integer>14</integer>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>-120</integer>
			<key>ButtonOffset</key>
			<integer>500</integer>
			<key>SelectionBigWidth</key>
			<integer>300</integer>
			<key>TextOffset</key>
			<integer>0</integer>
			<key>TileXSpace</key>
			<integer>120</integer>
			<key>TileYSpace</key>
			<integer>60</integer>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<real>2160</real>
			<key>DesignWidth</key>
			<integer>3840</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0xf8f8f872</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
</dict>
</plist>
