<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Device(HECI) _ADR=0x00160000 to _ADR=0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SEVDSQhfQURSDAAAFgA=</data>
					<key>Replace</key>
					<data>SEVDSQhfQURSDAAAAAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPRW,2,S) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VVBSVwpwEg==</data>
					<key>Replace</key>
					<data>WFBSVwpwEg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,Serialized) to Method(XPRW,0,..)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>AAAZABQfX1BSVwg=</data>
					<key>Replace</key>
					<data>AAAZABQfWFBSVwg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _PTS to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _WAK to ZWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _WAK to ZWAK (G3)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRJRgl5Cg==</data>
					<key>Replace</key>
					<data>QlRJMAl5Cg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTIF,1,Serialized) to BTI0 (G3)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRJRgl5AWg=</data>
					<key>Replace</key>
					<data>QlRJMAl5AWg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRTVAp5Cg==</data>
					<key>Replace</key>
					<data>QlRTMQp5Cg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(BTST,2,Serialized) to BTS1 (G3)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRTVAp5AWg=</data>
					<key>Replace</key>
					<data>QlRTMQp5AWg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(SBTC,3,NotSerialized) to SBT2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0JUQwNwDQ==</data>
					<key>Replace</key>
					<data>U0JUMgNwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBTI,1,NotSerialized) to GBT3</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JUSQFwDQ==</data>
					<key>Replace</key>
					<data>R0JUMwFwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBTC,0,NotSerialized) to GBT4</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JUQwBwDQ==</data>
					<key>Replace</key>
					<data>R0JUNABwDQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ITLB,0,NotSerialized) to ITL1 (for G4)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SVRMQgA=</data>
					<key>Replace</key>
					<data>SVRMMQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name(NBTI,..) to NBT5</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>CE5CVEk=</data>
					<key>Replace</key>
					<data>CE5CVDU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(\_SB.BAT0,...) to Notify(_SB.BATC,...)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>hlwuX1NCX0JBVDA=</data>
					<key>Replace</key>
					<data>hlwuX1NCX0JBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(\_SB.BAT1,...) to Notify(_SB.BATC,...)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>hlwuX1NCX0JBVDE=</data>
					<key>Replace</key>
					<data>hlwuX1NCX0JBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(BAT0,...) to Notify(BATC,...)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>hkJBVDA=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Notify(BAT1,...) to Notify(BATC,...)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>hkJBVDE=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(RDSS,1,S) to XDSS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UkRTUwk=</data>
					<key>Replace</key>
					<data>WERTUwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC Method(_REG,2,N) to XREG, 4x40s, 4x30s</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1JFRwKgKJNoCgM=</data>
					<key>Replace</key>
					<data>WFJFRwKgKJNoCgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC Method(_REG,2,N) to XREG, 4x0 G3 Skylake</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1JFRwKgFJNoCgM=</data>
					<key>Replace</key>
					<data>WFJFRwKgFJNoCgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC fix</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RwFwAHAAAQg=</data>
					<key>Replace</key>
					<data>RwFwAHAAAQI=</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>UEFI Internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1024x768</string>
		<key>Theme</key>
		<string>Yosemite</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelToPatch</key>
		<array/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g72M/v//EA==</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g72M/v//Gw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g710////EA==</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g710////Gw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA .xml.zl to .zml.zl</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>LnhtbC56bA==</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>LnptbC56bA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1 (credit denskop)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.12.dp1, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MdtMO33YdRI=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>Mdv/w5CQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.11.x, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MdtMO2XYdRI=</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>Mdv/w5CQkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.10.5, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MdtJiwQkSDtF2HUS</data>
				<key>MatchOS</key>
				<string>10.10.5</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>Mdv/w5CQkJCQkJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.9.5 5Ghz US FCC, svko</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>WFQAIBcnIAAA</data>
				<key>MatchOS</key>
				<string>10.9.5</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>WFQAG2cxlQAJ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ 5Ghz US FCC, the-darkvoid</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo, 10.12.x (credit the-darkvoid)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ BT4LE-Handoff-Hotspot, Dokterdok</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIXAdFwPt0g=</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA61k=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>BAYAAAAIAAAJAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT 76D1 #1 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PYQZ1BE=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>PdF2HRE=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IDT 76D1 #2 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PYMZ1BE=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Disable Intel USB3 controller check 10.9</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>9oDUAAAAgHU6</data>
				<key>MatchOS</key>
				<string>10.9.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>9oDUAAAAgOs6</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Disable Intel USB3 controller check 10.10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>9oDUAAAAgHU0</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>9oDUAAAAgOs0</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Disable XHCI 1.0 check 10.9</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>Zj0AAQ==</data>
				<key>MatchOS</key>
				<string>10.9.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>Zj0AAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Disable XHCI 1.0 check 10.10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QbzHAgDgPQABAAA=</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>QbzHAgDgPQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Patch MSI or pin interrupts #1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gUkIAABAAA==</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>gUkIAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Patch MSI or pin interrupts #2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QcdHCAAAQAA=</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>QcdHCAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 3.0 Enable PCI power management</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>dU1Ii7voAQAA</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>601Ii7voAQAA</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/26/17</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP81.88Z.0049.B01.1706261922</string>
		<key>Board-ID</key>
		<string>Mac-94245B3640C91C81</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02133120QXDM668C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
		<key>SerialNumber</key>
		<string>C02G6L4MDH2G</string>
		<key>SmUUID</key>
		<string>86C4B3D7-8555-4E3F-A726-61B8F3ED07E1</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
