<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>BTFirmwareUploader</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.driver.BTFirmwareUploader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BTFirmwareUploader</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.1.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7B1005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A278</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0711</string>
	<key>DTXcodeBuild</key>
	<string>7B1005</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Atheros-AR3011-0215 -0930</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>533</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>Atheros-AR3011-179c-0b05</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Pipe OUT</key>
			<integer>0</integer>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>6044</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Atheros-AR3011-3000-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Pipe OUT</key>
			<integer>0</integer>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12288</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3011-3002-04ca</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12290</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Atheros-AR3011-3002-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12290</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3011-3005-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12293</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3011-311d-03f0 </key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12573</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>Atheros-AR3011-3304-13d3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>13060</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Atheros-AR3011-aff1-04f2</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>45041</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>Atheros-AR3011-e027-0489</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>57383</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3011-e02c-0489</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>57388</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3011-e03d-0489</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>Windows fw</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>57405</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3012-036-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>54</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3012-17d0-0b05</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>6096</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Atheros-AR3012-3004-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>12292</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3012-3005-04ca</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>12293</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Atheros-AR3012-3006-04ca</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>12294</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Atheros-AR3012-3010-04ca</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>idProduct</key>
			<integer>12304</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Atheros-AR3012-311d-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>12573</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3012-3362-13d3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>13154</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Atheros-AR3012-3402-13d3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>13314</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Atheros-AR3012-3474-13d3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>13428</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Atheros-AR3012-e004-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57348</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3012-e036-489</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57398</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3012-e03c-489</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57404</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3012-e056-489</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57430</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3012-e078-489</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57464</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BCM-4313-e032-0489</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57394</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BCM-AZWave-4352-3418-13d3</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13336</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-AZWave-4352-3435-13d3</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13365</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-AZWave-4352-3456-13d3</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13398</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-AZWave-4352HMB-3404-13d3</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-AZWave-4360-180a-0b05</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>6154</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BCM-AZWave-4360-2-3413-13d3</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13331</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-Acer-LiteOn-4352-200f-0c4a</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8207</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-Asus-4352-17cf-b05 </key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BCM-Asus-BT400-17cb-0b05</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMSTDAL</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BCM-Belkin-USB-065a-050d</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMSTDAL</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BCM-Dell-AW-4352-3411-13d3</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-Dell-DW1550-8143-413c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>BCM-Dell-DW1560-ngff-216f-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8559</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-Dell-DW380-8197-413c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMSTDAL</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>33175</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>BCM-Dongles-USB-21e8-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMSTDAL</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-Generic-4352z-21fd-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8701</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-HP-43162-ngff-216e-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8558</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-HP-4352-21fb-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-HP-4352z-ngff-216b-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8555</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-HP-EliteNB-21e1-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMSTDAL</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-Lenovo-43162-ngff-e079-0489</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57465</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BCM-Lenovo-4352-ngff-e07a-0489</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57466</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BCM-Lenovo-43602-ngff-e0a1-0489</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57505</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BCM-Lenovo-ThinkPadNB-21e6-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMSTDAL</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8678</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-LiteOn-4352-200b-0c4a</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-LiteOn-4352-200c-0c4a</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-LiteOn-4352-200c-0c4a </key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-Some-4352-21de-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8670</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-Toshiba-4352-0221-0930</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>545</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>BCM-Toshiba-4352-ngff-0223-0930</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>BCM-Unknown-22be-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8894</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-Zebra-4352-6417-0a5c</key>
		<dict>
			<key>AbortOnFwUpdFail</key>
			<true/>
			<key>BTController</key>
			<string>BCMCOMBO</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>DeviceSpecificFw</key>
			<true/>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>25623</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © EMlyDinEsH (mg-dinesh@live.com) 2012-2016. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
