<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OpenHaltRestart</string>
	<key>CFBundleIdentifier</key>
	<string>com.psystar.driver.OpenHaltRestart</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OpenHaltRestart</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>OpenHaltRestart</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.psystar.driver.OpenHaltRestart</string>
			<key>IOClass</key>
			<string>com_psystar_OpenHaltRestart</string>
			<key>IOMatchCategory</key>
			<string>com_psystar_OpenHaltRestart</string>
			<key>IOProbeScore</key>
			<integer>-1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>9.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
