<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>	<key>Author</key>	<string>dodvip123</string>	<key>Description</key>	<string>Black and white minimalistic theme</string>	<key>Theme</key>	<dict>		<key>Background</key>		<dict>			<key>Path</key>			<string>background.png</string>			<key>Type</key>			<string>Tile</string>
			<key>Sharp</key>
			<string>0xFF</string>			<key>Dark</key>			<false/>		</dict>		<key>Badges</key>		<dict>			<key>Inline</key>			<false/>			<key>Show</key>			<true/>			<key>Swap</key>			<true/>		</dict>		<key>Banner</key>		<string>banner.png</string>		<key>Font</key>		<dict>			<key>CharWidth</key>			<integer>10</integer>			<key>Path</key>			<string>font.png</string>			<key>Type</key>			<string>Load</string>		</dict>		<key>Selection</key>		<dict>			<key>Big</key>			<string>selection.png</string>			<key>Color</key>			<string>0xFFFFFF80</string>
			<key>Small</key>
			<string>selection_small.png</string>		</dict>		<key>Components</key>		<dict>			<key>Banner</key>			<false/>			<key>Functions</key>			<true/>			<key>Label</key>			<true/>			<key>Revision</key>			<false/>			<key>MenuTitle</key>			<true/>		</dict>	</dict>	<key>Year</key>	<string>2016</string></dict></plist>