<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16C67</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FakeSMC</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.driver.FakeSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakeSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.24-316-g197d663.1737</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1737</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0821</string>
	<key>DTXcodeBuild</key>
	<string>8C1002</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>Mac-3CBD00234E554E41</key>
				<dict>
					<key>IGPU</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>BusyDownThresholdPercent</key>
							<integer>50</integer>
							<key>BusyUpThresholdPercent</key>
							<integer>70</integer>
							<key>DownStep</key>
							<integer>1</integer>
							<key>EnableOverride</key>
							<integer>1</integer>
							<key>EnableRingTableOverride</key>
							<integer>1</integer>
							<key>EvaluateDownInterval</key>
							<integer>31250</integer>
							<key>EvaluateUpInterval</key>
							<integer>31250</integer>
							<key>GT2Floor</key>
							<integer>8</integer>
							<key>GT3Floor</key>
							<integer>4</integer>
							<key>ID</key>
							<integer>2</integer>
							<key>IOBusynessSamplingInterval</key>
							<integer>1</integer>
							<key>NumOfRingTableOverride</key>
							<integer>23</integer>
							<key>NumOfRingTables</key>
							<integer>3</integer>
							<key>NumOfThresholdsForRingTables</key>
							<integer>2</integer>
							<key>RingOverrideTable0</key>
							<array>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
							</array>
							<key>RingOverrideTable1</key>
							<array>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
							</array>
							<key>RingOverrideTable2</key>
							<array>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>16</integer>
								<integer>18</integer>
								<integer>19</integer>
								<integer>20</integer>
								<integer>21</integer>
								<integer>23</integer>
								<integer>24</integer>
								<integer>25</integer>
								<integer>26</integer>
								<integer>28</integer>
								<integer>29</integer>
								<integer>30</integer>
								<integer>31</integer>
								<integer>33</integer>
							</array>
							<key>StartingPstateForRingTableOverride</key>
							<integer>11</integer>
							<key>ThresholdsForRingOverrideTable0</key>
							<array>
								<integer>0</integer>
								<integer>10</integer>
							</array>
							<key>ThresholdsForRingOverrideTable1</key>
							<array>
								<integer>5</integer>
								<integer>15</integer>
							</array>
							<key>ThresholdsForRingOverrideTable2</key>
							<array>
								<integer>10</integer>
								<integer>100</integer>
							</array>
							<key>UpStep</key>
							<integer>2</integer>
						</dict>
						<key>SliceControl</key>
						<integer>1</integer>
						<key>control-id</key>
						<integer>16</integer>
						<key>max-power-state</key>
						<integer>13</integer>
					</dict>
				</dict>
				<key>Mac-7DF21CB3ED6977E5</key>
				<dict>
					<key>IGPU</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>BusyDownThresholdPercent</key>
							<integer>50</integer>
							<key>BusyUpThresholdPercent</key>
							<integer>70</integer>
							<key>DownStep</key>
							<integer>1</integer>
							<key>EnableOverride</key>
							<integer>1</integer>
							<key>EnableRingTableOverride</key>
							<integer>1</integer>
							<key>EvaluateDownInterval</key>
							<integer>31250</integer>
							<key>EvaluateUpInterval</key>
							<integer>31250</integer>
							<key>GT2Floor</key>
							<integer>8</integer>
							<key>GT3Floor</key>
							<integer>4</integer>
							<key>ID</key>
							<integer>2</integer>
							<key>IOBusynessSamplingInterval</key>
							<integer>1</integer>
							<key>NumOfRingTableOverride</key>
							<integer>23</integer>
							<key>NumOfRingTables</key>
							<integer>3</integer>
							<key>NumOfThresholdsForRingTables</key>
							<integer>2</integer>
							<key>RingOverrideTable0</key>
							<array>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
								<integer>10</integer>
							</array>
							<key>RingOverrideTable1</key>
							<array>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
								<integer>16</integer>
							</array>
							<key>RingOverrideTable2</key>
							<array>
								<integer>8</integer>
								<integer>8</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>16</integer>
								<integer>18</integer>
								<integer>19</integer>
								<integer>20</integer>
								<integer>21</integer>
								<integer>23</integer>
								<integer>24</integer>
								<integer>25</integer>
								<integer>26</integer>
								<integer>28</integer>
								<integer>29</integer>
								<integer>30</integer>
								<integer>31</integer>
								<integer>33</integer>
							</array>
							<key>StartingPstateForRingTableOverride</key>
							<integer>11</integer>
							<key>ThresholdsForRingOverrideTable0</key>
							<array>
								<integer>0</integer>
								<integer>10</integer>
							</array>
							<key>ThresholdsForRingOverrideTable1</key>
							<array>
								<integer>5</integer>
								<integer>15</integer>
							</array>
							<key>ThresholdsForRingOverrideTable2</key>
							<array>
								<integer>10</integer>
								<integer>100</integer>
							</array>
							<key>UpStep</key>
							<integer>2</integer>
						</dict>
						<key>SliceControl</key>
						<integer>1</integer>
						<key>control-id</key>
						<integer>16</integer>
						<key>max-power-state</key>
						<integer>13</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>AppleIntelPanelA</key>
		<dict>
			<key>ApplePanels</key>
			<dict>
				<key>Default</key>
				<data>
				AAAHQAr3//4=
				</data>
				<key>F14T17ed</key>
				<data>
				ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4G
				RAed
				</data>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBacklight</string>
			<key>IOClass</key>
			<string>AppleIntelPanelA</string>
			<key>IODisplayParameters</key>
			<dict>
				<key>brightness</key>
				<dict>
					<key>max</key>
					<integer>255</integer>
					<key>min</key>
					<integer>40</integer>
				</dict>
				<key>commit</key>
				<dict>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>IOMatchCategory</key>
			<string>IODisplayParameters</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
		<key>BuiltInHDA</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAController</string>
			<key>CodecAddressFilterArray</key>
			<array>
				<dict>
					<key>CodecAddressMask</key>
					<data>
					AQAAAA==
					</data>
					<key>LayoutID</key>
					<integer>76</integer>
					<key>PCIVendorDeviceID</key>
					<integer>283902594</integer>
				</dict>
			</array>
			<key>DPAlwaysDisplayRouting</key>
			<array>
				<integer>3</integer>
				<integer>33</integer>
				<integer>35</integer>
				<integer>88</integer>
			</array>
			<key>DPAudioDeviceExclusion</key>
			<array>
				<dict>
					<key>ManufacturerID</key>
					<integer>1552</integer>
					<key>ProductID</key>
					<integer>10130</integer>
				</dict>
			</array>
			<key>HighFIFOLimitSupport</key>
			<array/>
			<key>HwFactoryPrefixTranslation</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>78</integer>
					<key>SourceDID</key>
					<integer>43584</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>78</integer>
					<key>SourceDID</key>
					<integer>43576</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>79</integer>
					<key>SourceDID</key>
					<integer>43584</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
				<dict>
					<key>LayoutID</key>
					<integer>79</integer>
					<key>SourceDID</key>
					<integer>43576</integer>
					<key>StandInDID</key>
					<integer>43568</integer>
					<key>VID</key>
					<integer>4098</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAController</string>
			<key>IOPCIClassMatch</key>
			<string>0x04010000&amp;0xFFFD0000</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RequireMaxBusStall</key>
			<array>
				<dict>
					<key>Layouts</key>
					<array/>
					<key>MaxBusStall</key>
					<integer>15000</integer>
				</dict>
			</array>
		</dict>
		<key>FakeSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>Configuration</key>
			<dict>
				<key>Clover</key>
				<dict>
					<key>BEMB</key>
					<array>
						<string>BEMB</string>
						<string>flag</string>
					</array>
					<key>EPCI</key>
					<array>
						<string>EPCI</string>
						<string>ui32</string>
					</array>
					<key>RBr</key>
					<array>
						<string>RBr</string>
						<string>ch8*</string>
					</array>
					<key>RPlt</key>
					<array>
						<string>RPlt</string>
						<string>ch8*</string>
					</array>
				</dict>
				<key>ExceptionKeys</key>
				<dict>
					<key>CLKH</key>
					<integer>1</integer>
					<key>CLKT</key>
					<integer>1</integer>
					<key>MSDW</key>
					<integer>1</integer>
					<key>NATJ</key>
					<integer>1</integer>
					<key>NATi</key>
					<integer>1</integer>
					<key>NTOK</key>
					<integer>1</integer>
					<key>WKTP</key>
					<integer>0</integer>
				</dict>
				<key>Keys</key>
				<dict>
					<key>$Adr</key>
					<array>
						<string>ui32</string>
						<data>
						AAADAA==
						</data>
					</array>
					<key>$Num</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>ACID</key>
					<array>
						<string>ch8*</string>
						<data>
						hfwETdgSevQ=
						</data>
					</array>
					<key>ALI0</key>
					<array>
						<string>{ali</string>
						<data>
						BwECAA==
						</data>
					</array>
					<key>ALRV</key>
					<array>
						<string>ui16</string>
						<data>
						AAE=
						</data>
					</array>
					<key>ALV0</key>
					<array>
						<string>{alv</string>
						<data>
						ARAGdQEgALYO4A==
						</data>
					</array>
					<key>CLKH</key>
					<array>
						<string>{clh</string>
						<data>
						AABwgAABGUA=
						</data>
					</array>
					<key>CLKT</key>
					<array>
						<string>ui32</string>
						<data>
						AAByGw==
						</data>
					</array>
					<key>EPCI</key>
					<array>
						<string>flag</string>
						<data>
						AQ==
						</data>
					</array>
					<key>FNum</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>LSOF</key>
					<array>
						<string>flag</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LSSB</key>
					<array>
						<string>{lso</string>
						<data>
						AQE=
						</data>
					</array>
					<key>LsNM</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LsbV</key>
					<array>
						<string>{rev</string>
						<data>
						AQQKAAY=
						</data>
					</array>
					<key>MOST</key>
					<array>
						<string>ui16</string>
						<data>
						gAM=
						</data>
					</array>
					<key>MSDW</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>MSLD</key>
					<array>
						<string>ui8 </string>
						<data>
						AA==
						</data>
					</array>
					<key>MSPS</key>
					<array>
						<string>{msp</string>
						<data>
						AA==
						</data>
					</array>
					<key>MSSD</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>MSSP</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>NATJ</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>NATi</key>
					<array>
						<string>ui16</string>
						<string>0000</string>
					</array>
					<key>NTOK</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>NVPR</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>OSK0</key>
					<array>
						<string>ch8*</string>
						<data>
						b3VyaGFyZHdvcmtieXRoZXNld29y
						ZHNndWFyZGVkcGw=
						</data>
					</array>
					<key>OSK1</key>
					<array>
						<string>ch8*</string>
						<data>
						ZWFzZWRvbnRzdGVhbChjKUFwcGxl
						Q29tcHV0ZXJJbmM=
						</data>
					</array>
					<key>REV </key>
					<array>
						<string>{rev</string>
						<data>
						AhkPAAAS
						</data>
					</array>
					<key>RMde</key>
					<array>
						<string>char</string>
						<data>
						QQ==
						</data>
					</array>
					<key>RPlt</key>
					<array>
						<string>ch8*</string>
						<string>m82</string>
					</array>
					<key>RVBF</key>
					<array>
						<string>{rev</string>
						<data>
						AhkPAAAS
						</data>
					</array>
					<key>RVUF</key>
					<array>
						<string>{rev</string>
						<data>
						AhkPAAAS
						</data>
					</array>
				</dict>
				<key>Types</key>
				<dict>
					<key>BEMB</key>
					<string>flag</string>
					<key>CLKC</key>
					<string>{clc</string>
					<key>CLKH</key>
					<string>{clh</string>
					<key>CLKT</key>
					<string>ui32</string>
					<key>CLWK</key>
					<string>ui32</string>
					<key>EPCI</key>
					<string>flag</string>
					<key>LSSS</key>
					<string>{lso</string>
					<key>MSDS</key>
					<string>ui8</string>
					<key>MSDW</key>
					<string>flag</string>
					<key>MSPS</key>
					<string>{msp</string>
					<key>RPlt</key>
					<string>ch8*</string>
				</dict>
				<key>debug</key>
				<false/>
				<key>smc-compatible</key>
				<string>smc-huronriver</string>
				<key>trace</key>
				<false/>
			</dict>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>FakeSMC</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
			<key>RM,Build</key>
			<string>Release-rehabman</string>
			<key>RM,Version</key>
			<string>FakeSMC 1737</string>
		</dict>
		<key>FakeSMCKeyStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>IOClass</key>
			<string>FakeSMCKeyStore</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCKeyStore</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>FakeSMCKeyStoreUserClient</string>
		</dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902594</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6mAScfkAFHHCABRx1AAUce
					EQFHHwEBdxzwAXcdAAF3HgABdx9AAYccIAGH
					HRABhx6BAYcfAQGXHPABlx0AAZceAQGXH0AB
					pxzwAacdAAGnHgEBpx9AAdcc8AG3HQABtx4B
					AbcfQAHXHPUB1x0AAdceBQHXH0AB5xzwAecd
					AAHnHgEB5x9AAhccQAIXHXACFx4hAhcfAQFH
					DAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>76</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
			<key>PostConstructionInitialization</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>36</integer>
							<key>PinConfigDefault</key>
							<integer>2834464</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>37</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>38</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>40</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>41</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>42</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>43</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>44</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>45</integer>
							<key>PinConfigDefault</key>
							<integer>2416967954</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>46</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>47</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>48</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>49</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>50</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>51</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>52</integer>
							<key>PinConfigDefault</key>
							<integer>11243568</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>53</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>54</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>55</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>56</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>57</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>58</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>59</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>60</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>61</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>62</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>63</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>64</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>65</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>66</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>67</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>68</integer>
							<key>PinConfigDefault</key>
							<integer>2426798336</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>69</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>16</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>17</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>720928</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>20</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>21</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>25</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>26</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>27</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>28</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>30</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>31</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>32</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>33</integer>
							<key>PinConfigDefault</key>
							<integer>21299248</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>114</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>108</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>9121792</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
						<integer>127</integer>
						<integer>129</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>120</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2417426704</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>127</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>129</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Layouts</key>
					<array>
						<integer>36</integer>
						<integer>38</integer>
						<integer>52</integer>
						<integer>53</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicAttributes</key>
							<integer>28</integer>
							<key>MicInfo</key>
							<string>Sampled on rising edge</string>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>2426405136</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>71</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>2416968002</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>83</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416968001</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>90</integer>
						<integer>92</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>122</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>Layouts</key>
					<array>
						<integer>67</integer>
						<integer>73</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicInfo</key>
							<string>WM8800 External Microphone Virtual Pin Complex</string>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>28020848</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 netkas. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1212</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>"https://github.com/RehabMan/OS-X-FakeSMC-kozlek.git"</string>
</dict>
</plist>
