<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>fakesmc</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.fakesmc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fakesmc</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FakeSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.fakesmc</string>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
			<key>SMCKeys</key>
			<dict>
				<key>$Num</key>
				<data>
				AQ==
				</data>
				<key>ACID</key>
				<data>
				AAAAAAAA
				</data>
				<key>BALG</key>
				<data>
				AAAAAAAA
				</data>
				<key>LSOF</key>
				<data>
				AQ==
				</data>
				<key>LSSB</key>
				<data>
				AQE=
				</data>
				<key>MOST</key>
				<data>
				AAAAAAAA
				</data>
				<key>MSDS</key>
				<data>
				AwAAAAAA
				</data>
				<key>MSSD</key>
				<data>
				AA==
				</data>
				<key>MSSP</key>
				<data>
				AA==
				</data>
				<key>NATJ</key>
				<data>
				AA==
				</data>
				<key>NVPR</key>
				<data>
				AAAAAAAA
				</data>
				<key>OSK0</key>
				<string>ourhardworkbythesewordsguardedpl</string>
				<key>OSK1</key>
				<string>easedontsteal(c)AppleComputerInc</string>
				<key>REV </key>
				<data>
				ATAPAAAD
				</data>
			</dict>
			<key>debug</key>
			<false/>
			<key>smc-compatible</key>
			<string>smc-napa</string>
			<key>tjmax</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0d0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0b1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
